<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand  mx-auto" routerLink="home">My Movie Collection</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <!-- General user menus  -->
        <ul *ngIf="(currentUser)" class="navbar-nav">
          <li class="nav-item dropdown" *ngFor="let link of userLinkList; let i= index">
            <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="link.url">
              {{link.title}}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li *ngFor="let child of link.children">
                <a class="dropdown-item" [routerLink]="child.url">{{child.title}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- Admin menus  -->
        <ul *ngIf="(currentUser?.isAdmin)" class="navbar-nav mx-auto">
          <li class="nav-item dropdown" *ngFor="let link of adminLinkList; let i= index">
            <a class="nav-link dropdown-toggle" style="color:darkorange; font-weight: bolder;" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="link.url">
              {{link.title}}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li *ngFor="let child of link.children">
                <a class="dropdown-item" [routerLink]="child.url">{{child.title}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- Login and Register -->
        <ul *ngIf="(!currentUser)" class="navbar-nav ms-auto" style="background-color: primary;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="sign">Sign in</a></li>
              <li><a class="dropdown-item" routerLink="register">Register</a></li>
            </ul>
          </li>
        </ul>
        <!-- Log out -->
        <ul *ngIf="(currentUser)" class="navbar-nav ms-auto" style="background-color: primary;">
          <li class="nav-item">
            <button type="button" class="btn btn-light" (click)="logout()" role="button" aria-expanded="false">
              Logout
            </button>
            <!-- <a class="nav-link" (click)="logout()" role="button" aria-expanded="false">
              Logout
            </a> -->
          </li>
        </ul>

      </div>
    </div>
  </nav>